*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: gray;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.wrapper{
    display: flex;
    grid-gap: 1rem;
    max-width: 768px;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.slider{
    min-width: calc(50% - 0.5rem);
    aspect-ratio: 1/1;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    scroll-snap-align: start;
    font-weight: 600;
    user-select: none;
    box-shadow: 2px 2px 4px 0px black;
}

.s1{
    background-image: url('https://source.unsplash.com/random/200x200/?noite');
    background-repeat: no-repeat;
    background-size: contain;
}

.s2{
    background-image: url('https://source.unsplash.com/random/200x200/?animal');
    background-repeat: no-repeat;
    background-size: contain;
}

.s3{
    background-image: url('https://source.unsplash.com/random/200x200/?scene');
    background-repeat: no-repeat;
    background-size: contain;
}

.s4{
    background-image: url('https://source.unsplash.com/random/200x200/?natureza');
    background-repeat: no-repeat;
    background-size: contain;
}

.s5{
    background-image: url('https://source.unsplash.com/random/200x200/?planetas');
    background-repeat: no-repeat;
    background-size: contain;
}